.modal {
    width: 60vw;
    height: 60vh;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.close {
    cursor: pointer;
    font-weight: bold;
    font-size: 15pt;
    text-align: end;
    padding: 15px 25px;
}

.close:hover {
    font-size: 18pt;
}
